<%content_for :right_container do%>
  <div style="background-color:#FFFF76;padding:20px;"> <h2>Need More Messages?</h2>
  Free accounts only can send 10 messages a day. <br><br>Update your account to a pro account and receive more messages.<br><br> Click here to Upgrade.
</div><%end%>