<% title "New Comment" %>

<% form_for( :comment, :url => message_comments_path(@message) ) do |f| -%>
	<%= render :partial => 'form', :locals => { :f => f , :submit_name => "Save Comment" } -%>
<% end -%>

<p><%= link_to "Back to List", message_path(@message) %></p>
