<div id="billboard">
  <div id="masthead">
    <h1>30 day Free Trial On All Accounts!</h1>
    <h4>Easily find sluggers in your area before you leave the house!</h4>
    <div class="clear"></div>
  </div>
  <div id="container">
    <div id="pro">
      <ul>
        <li><h1>Pro</h1><h3>$24/Month</h3><span>Power Slugger</span></li>
        <li>
          <div id="highlights">
            <span>Unlimited</span> messages<br>
            <span>Unlimited</span> posts<br>
            <span>Unlimited</span> follows<br>
            <span>Email notifications</span><br>
            <span>Advanced profile</span>

          </div>
          <br>
          <%= link_to submit_tag('',:class=>'submit'), newpro_path %>
        </li>

      </ul>

    </div>

    <div id="basic">
      <ul>
        <li><h1>Basic</h1><h3>$12/Month</h3><span>Daily Slugger</span></li>
        <li><div id="highlights">
            <span>30</span> Messages<br>
            <span>30</span> posts<br>
            <span>10</span> follows<br>
            <span>Email notifications</span><br>
            <span>Advanced profile</span>
          </div><br>
          <%= link_to submit_tag('',:class=>'submit'), newbasic_path %>
        </li>

      </ul>

    </div>

    <div id="free">
      <ul>
        <li><h1>Free</h1><h3>$0/Month</h3><span>Slug Sometimes</span></li>
        <li><div id="highlights">
            <span>4</span> Messages<br>
            <span>8</span> posts<br>
            <strike>Follows</strike><br>
            <strike>Notifications</strike><br>
            <strike>Advanced profile</strike>
          </div>
          <br>
          <%= link_to submit_tag('',:class=>'submit'), new_user_path %>
        </li>
      </ul>

    </div>
   
  
    <div class="clear"></div>
  </div>
</div>

<div id="extra">
  <h1>Frequently Asked Questions</h1>
  <div id="faq">
    <div id="left">
      <h2>How does the 30-day free trial work?</h2>

      If you cancel a paying plan within 30 days of signing up you won’t be charged a thing. If you do choose to cancel your account in the future you will never be charged again, but you are responsible for charges already incurred up until your cancellation. Refunds can not be issued after your initial 30 day trial and we don’t prorate for partial months.

      <br><br>

      <h2>Do I get a 30-day free trial if I upgrade?</h2>

If you upgrade from a free account to a pay account you are not eligible for the 30-day free trial. The 30-day free trial on paying plans only applies if you sign up for a paying plan now. You can always downgrade later if you choose.
<br><br>
<h2>Can I change plans at any time?</h2>

Yep. Simply click on the “Account” tab on your dashboard and you’ll see your options.


    </div>
    <div id="right">

      <h2>Do I have to sign a long term contract?</h2>

No. Slugeasy is a pay-as-you-go service. There are no long term contracts or commitments on your part. You simply pay month-to-month. If you cancel, you’ll be billed for the current month, but you won’t be billed again.
<br><br><h2>Are there per-user fees?</h2>

No. The prices you see above are all inclusive. Every Slugeasy plan includes unlimited users and clients. 100 people or 10 people, 30 clients or just 3, the prices listed above are the same for everyone.
<br><br><h2>What types of payment do you accept?</h2>

Currently we accept Visa, Mastercard, and American Express. We do not accept PayPal. At this time we only accept payments online so we will not be able to accept a P.O., invoice you, or take an order over the phone.

    </div>
    <div class="clear"></div>

  </div>

     </div>