<div id="billboard">

  <div id="masthead">
    <h1>Need More Messages and Posts?</h1>
    <h4>Avoid the elements and slug from the comfort of your own home.</h4>
  </div>
  <div id="container">
    <table  id="upgrade" width="800">
      
      <tr>
        <th>Features</th>
        <th>Pro <span>$24/Month</span></th>
        <th>Basic <span>$12/Month</span></th>
      </tr>
      <tr>
        <td>Messages</td><td>Unlimited</td><td>30</td></tr>
        <tr><td>Posts</td><td>Unlimited</td><td>30</td></tr>
        <tr><td>Follows</td><td>Unlimited</td><td>10</td></tr>
        <tr><td>Email Notifications</td><td>Yes</td><td>Yes</td></tr>
        <tr><td>Advanced Profiles</td><td>Yes</td><td>Yes</td>
       
        <tr>

          <td>Select Plan</td><td><%= link_to submit_tag('',:class=>'submit'), newpro_path %></td>
          <td><%= link_to submit_tag('',:class=>'submit'), newbasic_path %></td>
        </tr>
      
     </table>
   
    
   
   </div>
  <div id="special"> Do you have any questions? Contact us and we will be more than happy to assist you.
</div>
  <%= render :partial=>'extra' %>
  
</div>
