<h1>Rules of Slugging</h1>


<ul>
  <li><b>Slugs do not talk</b>. <font face="Times">T</font>his
    is not completely true, because there are times
    when conversation is acceptable, but normally
    slugs must wait for drivers to initiate it;
    otherwise, there is no talking. One note about
    this rule. Even though it may sound impolite not
    to initiate conversation, there are some good
    reasons why this rule exists. The driver (and
    sometimes the slug) isn’t interested in
    getting to know the other person. On the
    contrary, all that is wanted is a quiet ride
    home. For many riders, it’s a chance to think,
    sleep, or read the paper. For the driver, it may
    be the only chance to listen to the news or
    relax to his or her own music. The last thing
    both riders and drivers want is to feel
    obligated to carry on a 30-minute conversation.
    It’s a good rule. Now, with that being said,
    sometimes conversations do take place, but
    you’ll just have to use your own judgment as
    to when it’s appropriate.
  </li>
</ul>

<ul>
  <li><b>No conversations of religion, politics, or
    sex</b>. Enough said...
  </li>
</ul>

<ul>
  <li><b>No money, gifts, or tokens of appreciation
    are ever offered or requested</b>. A driver
    doesn’t expect the riders to help out with gas
    money. The relationship between the driver and
    rider is mutually supporting. The driver needs
    the slugs just as much as the slugs need the
    driver. If a driver wants help with the gas, he
    should organize his own car pool. He shouldn’t
    ask a slug to pitch in for helping him access
  the HOV!</li>
</ul>

<ul>
  <li><b>Cell Phones</b> - Slugs should not have a
    conversation on their cell phone while commuting. The very short,
    "Hey, I'm on my way home." is okay, but do
    not have a long conversation about what you did
  last weekend! For drivers, it is acceptable.</li>
</ul>

<ul>
<li><b>There is no smoking or eating by the driver
or slug.</b>
</li>
</ul>

<ul>
  <li><b>A slug does not ask to change the radio
  station or adjust the heat or air conditioning.&nbsp;</b></li>
</ul>

<ul>
  <li><b>Normally, the slug does not open or close
  the window.</b></li>
</ul>

<ul>
  <li><b>Both slugs and drivers usually exchange a
  "Thank you" before and after the ride</b>.</li>
</ul>

<ul>
  <li><b>No "curbside" service.</b> There
    are certain understood destinations. Horner Road
    means the parking area at Horner Road, not the
    gas station just down Prince William Parkway or
    around the block to were you live. If you have a
    special request, be sure to ask the driver <u>before
    </u>accepting the ride. Normally, as long as the
  stop is on the way, drivers will not object.</li>
</ul>

<ul>
  <li><b>Slugs have the right to pass or forfeit a
    ride if they do not like a particular car. </b>Let’s
    say a couple of rough-looking characters pull up
    and your gut feeling tells you this ride isn’t
    safe. PASS. There are plenty of other rides that
    will pass your own personal "gut"
  check.</li>
</ul>



<ul>
  <li><b>Drivers should not "stop short."</b>
    <i>Stopping short</i> happens when the driver
    decides not to take the slug all the way to the
    agreed-upon destination. For example, the driver
    decides to stop at his parking garage, just a
    few blocks short of the understood drop-off
    point, forcing the slug to walk the remainder of
    the distance. In this case the driver should
    tell the slug that he is only going part way to
    the destination and let the slug decide whether
  or not to accept the ride.</li>
</ul>



<ul>
  <li><b>Seat Belts</b> - it's understood that both
    drivers and passengers should buckle-up. Drivers
    please allow the slugs time before leaving the
  parking lot.</li>
</ul>

<ul>
  <li><b>Consideration</b> - both drivers and slugs
    should use <i>common</i> consideration during
    the commute. For example, drivers should try to
    use a relatively clean car, avoid heavy use of
    perfumes or colognes, and keep the radio at a
    moderate level.<br>
  &nbsp;</li>
  <li><b>Avoid Personal Hygiene Care</b> - both drivers and slugs
    should avoid things like: putting on make-up,
combing hair, etc.</li></ul>
<br>
