<h2>What is slugging?</h2>
<ul><li><b>Slugging is a free form of carpooling that is instant and mutually beneficial to the passengers and drivers. </b></li></ul>


<h2>Why should I slug?</h2>
<ul><li><b>The main reason why most people slug is because it's free. If you drive you get to use HOV lanes. If your a passenger you save money that you would normally spend on gas or public transportation. </b></li></ul>


<h2>Rules of Slugging</h2>


<ul>
  <li><b>Thou shall not talk</b>. <font face="Times">T</font>his
    is not completely true, because there are times
    when conversation is acceptable. If drivers have 
    stated on their profile that they don't mind talking
    then feel free to spark up a conversation. If the
    driver has not selected an option, you should be courteous
    and wait for drivers to initiate it.
  </li>
</ul>

<ul>
  <li><b>No conversations of religion, politics, or
    sex</b>. Enough said...
  </li>
</ul>

<ul>
  <li><b>No money, gifts, or tokens of appreciation
    are ever offered or requested</b>. A driver
    doesn’t expect the riders to help out with gas
    money. The relationship between the driver and
    rider is mutually supporting. The driver needs
    the slugs just as much as the slugs need the
    driver. If a driver wants help with the gas, he
    should organize his own car pool. He shouldn’t
    ask a slug to pitch in for helping him access
  the HOV!</li>
</ul>

<ul>
  <li><b>Cell Phones</b> - Slugs should not have a
    conversation on their cell phone while commuting. The very short,
    "Hey, I'm on my way home." is okay, but do
    not have a long conversation about what you did
  last weekend! For drivers, it is acceptable.</li>
</ul>

<ul>
<li><b>There is no smoking or eating by the driver
or slug.</b>
</li>
</ul>

<ul>
  <li><b>A slug does not ask to change the radio
  station or adjust the heat or air conditioning.&nbsp;</b></li>
</ul>

<ul>
  <li><b>Normally, the slug does not open or close
  the window.</b></li>
</ul>

<ul>
  <li><b>Both slugs and drivers usually exchange a
  "Thank you" before and after the ride</b>.</li>
</ul>

<ul>
  <li><b>Curbside service.</b> If you have a
    special request, be sure to ask the driver <u>before
    </u>accepting the ride. Normally, as long as the
  stop is on the way, drivers will not object.</li>
</ul>

<ul>
  <li><b>Slugs have the right to pass or forfeit a
    ride for any reason. </b>Let’s
    say a couple of rough-looking characters pull up
    and your gut feeling tells you this ride isn’t
    safe. PASS. There are plenty of other rides that
    will pass your own personal "gut"
  check.</li>
</ul>



<ul>
  <li><b>Drivers should not "stop short."</b>
    <i>Stopping short</i> happens when the driver
    decides not to take the slug all the way to the
    agreed-upon destination. For example, the driver
    decides to stop at his parking garage, just a
    few blocks short of the understood drop-off
    point, forcing the slug to walk the remainder of
    the distance. In this case the driver should
    tell the slug that he is only going part way to
    the destination and let the slug decide whether
  or not to accept the ride.</li>
</ul>



<ul>
  <li><b>Seat Belts</b> - it's understood that both
    drivers and passengers should buckle-up. Drivers
    please allow the slugs time before leaving the
  parking lot.</li>
</ul>

<ul>
  <li><b>Consideration</b> - both drivers and slugs
    should use <i>common</i> consideration during
    the commute. For example, drivers should try to
    use a relatively clean car, avoid heavy use of
    perfumes or colognes, and keep the radio at a
    moderate level.<br>
  &nbsp;</li>
  <li><b>Avoid Personal Hygiene Care</b> - both drivers and slugs
    should avoid things like: putting on make-up,
combing hair, etc.</li></ul>
<br>
