
<%content_for :left_container do %>
  
<h1>All Listings</h1>

<%= render :partial=>'posts', :locals=>{:posts=>@posts} %>

<%end%>

<%content_for :right_container do %>
  <%= render :partial=>'search'%>
  <%= render :partial=>'pop_locations'%>
<%end%>